@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


/* Dark mode 0a0a0a*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.bg-gray{
  background-color: #424141;
}

.bg-footer{
  background-color: #1a1a1a;
}

.btn-signup{
  background-color: #5ee793;
  transition: background-color 0.3s ease;
}

.btn-signup:hover {
  background-color: #3b82f6;
}